<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {%- if record|default and record.title -%}
        {{- record.title ~ ' | ' -}}
    {%- endif -%}
    {{- config.get('general/sitename') -}}
    {%- if record|default == null and config.has('general/payoff') -%}
        {{- ' | ' ~ config.get('general/payoff') -}}
    {%- endif -%}
    </title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ asset('assets/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/cajitas.css') }}">

</head>
<body>
    
    <div class="wrapper">

        <ul class="nav">
            <li><a href="#news">Aktuell</a></li>
            <li><a href="#photos">Fotos</a></li>
            <li><a href="#about">Über mich</a></li>
            <li><a href="#contact">Kontakt</a></li>
        </ul>

        <header>
            <div class="logo">
                <img src="{{ asset('assets/logo.png') }}" alt="cajitas logo">
            </div>
        </header>

        <section class="lead">
            {{ record.introduction }}
        </section>

        <section class="verzierung">
            <img src="{{ asset('assets/verzierung.png') }}" alt="" class="verzierung">
        </section>

        <section class="news" id="news">
            {{ record.news }}
        </section>

        <section class="cajitas">
            {% setcontent cajitas = 'cajitas' %}
            {% for cajita in cajitas %}
                <div class="cajita">
                    <div class="cajita-images">
                        {% for image in cajita.images %}
                            <img src="{{ image|thumbnail(800, 800) }}" {{ loop.first ? 'class="show"' }}>
                        {% endfor %}
                    </div>
                    {{ cajita.teaser }}
                </div>
            {% endfor %}
        </section>

        <section class="inbetween">
            {{ record.intermezzo }}
        </section>

        <section class="totems" id="photos">
            {% for totem in record.totems %}
                <div class="totem">
                    <img src="{{ totem|thumbnail(800, 800) }}">
                </div>
            {% endfor %}
        </section>

        <section class="about" id="about">
            <p>Über mich</p>
            <img src="{{ record.about_image|thumbnail(800, 800) }}">
            {{ record.about }}
            <img src="{{ asset('assets/verzierung.png') }}" alt="" class="verzierung reverse">
            {{ record.offer }}
            <img src="{{ asset('assets/verzierung.png') }}" alt="" class="verzierung">
            <div id="contact">
                {{ record.contact }}
            </div>
        </section>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
    <script>

        const cajitas = document.querySelectorAll('.cajita');
        let slideshow;

        cajitas.forEach((el, i) => {
            el.addEventListener('mouseenter', (evt) => {
                next(el);
                slideshow = setInterval(() => next(el), 500); 
            });
            el.addEventListener('mouseleave', (evt) => {
                clearInterval(slideshow);
            });
        })

        function next(el){
            let _active = el.querySelector('img.show'),
                _next = el.querySelector('img.show + img') || el.querySelector('.cajita-images img:first-child');

            _active.classList.remove('show');
            _next.classList.add('show');
        }

        let macy_cajitas = Macy({
            container: '.cajitas',
            trueOrder: false,
            waitForImages: false,
            margin: 50,
            columns: 3,
            breakAt: {
                768: 2,
                400: 1
            }
        });

        let macy_totems = Macy({
            container: '.totems',
            trueOrder: false,
            waitForImages: false,
            margin: 24,
            columns: 3,
            breakAt: {
                768: 2,
                400: 1
            }
        });

    </script>

</body>
</html>